#header{
    color: #333;
   /* background-color: black;*/
    text-align: center;
    font-weight: bold;
    padding: 200px;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.accounts{
    text-align: right;
}
/* Body style */
.mycontainer{
    width: 100%;
    margin:auto;
    background-color:#f4f4f4;
   /* border: 1px solid #ccc;*/
   background-image: url("../img/home.jpg");
   background-repeat: no-repeat; 
   background-size: cover;

  
}

/* login style */
#my-login{
    width: 360px;
    padding: 8%;
    margin: auto;

}

.my-form[input=text]{
    background-color: #fff;
    color:#000;
}


/* navbar style */
.nav{
background-color: #333;
margin: 0 auto;
padding: 10px;
}


.navbar a{
    text-decoration: none;
    color:orange;
    margin: 10px;
    
}
.navbar a:hover{
    color:#fff;

}
.navbar a:active{
    color:green;

}


/* order button style*/
#button{
    background-color:coral;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: 300px;
    padding: 10px;
   
}
#button a{
    text-decoration: none;
}


#button:hover{
    background-color:coral;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-left: 500px;
   
}




.button{
    background-color:blue;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
  
   
}

.button{
    background-color:dodgerblue;
    color: #fff;
    
   
}


/* Register Form styles */
.our-form{
    width: 360px;
    padding: 8%;
    margin: auto;
    background-image: url(../img/login-bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    
}


.our-form input[type="text"]{
    width: 80%;
    padding: 5px;

}


.our-form input[type="password"]{
    width: 80%;
    padding: 5px;

}

.our-form label{
    display: block;
}


/* RegisterForm button */
.button{
    background-color:blue;
    color: #fff;
    border-radius: 10px;
    
}


/* Add meal button */
#meals{
    background-color:green;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    
}

/* login form style */
#my-login{
    width: 30%;
    background-color: #555555;
    opacity: 0.5;
    
}
.my-form{
    padding:30px;
    display: block;
}


.my-form label{
    display: block;
}


.my-form{
   padding: 8px;
   width: 100%;
   background-image: url(../img/login-bg.jpg);
   background-repeat: no-repeat; 
   background-size: cover;
   background-color: #003;
 
  
}


.my-form input {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }



.my-form input[type = "password"]{
    padding: 8px;
    width: 100%;
 }

 

.form-group{
    padding-bottom:20px;
}

/*Meal-form style*/
.meal-form{
    padding: 10px;
    display:block;
}


.meal-form input[type="text"]{
    width: 80%;
    padding: 5px;

}


.meal-form input[type="password"]{
    width: 80%;
    padding: 5px;

}

.meal-form label{
    display: block;
}
/* table styles */
.admin-table{
    border: 1px solid #000;
    border-collapse: collapse;
    width:80%;
}
.admin-table th{
    font-size: 25px;
    margin-left: 1px;
    font-weight: bold;

}

#edit_meal{
  background-color: grey;  
}

#edit_meal  a{
 text-decoration: none; 
  }


#delete_meal{
    background-color: #f00;
}




   /*body {

  
    bg-image for body


    background-color: #f4f4f4;
    color: #555555;
    background-repeat: no-repeat, repeat;
    background-image: cover;
  
 }
 .heading{
     text-align: center;
     line-height: 1.6em;
     font: Helvetica, 20px, normal, Arial, sans-serif; 
     margin: auto;
     color: dodgerblue; 
 }

h1 {
    color:black;
    
}

p {
    font-family: verdana;
    font-size: 20px;
}
*/





  
  